.fade-in-right{
    animation: fadeInRight 1s;
    -webkit-animation: fadeInRight 1s;
    -moz-animation: fadeInRight 1s;
    -o-animation: fadeInRight 1s;
}


@keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(-40%)
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(-40%)
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}

@-moz-keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(-40%)
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}

@-o-keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(-40%)
    }

    100%{
        opacity: 1;
        transform: translateX(0)
    }
}


.fade-in-down{
    animation: fadeInDown 1s;
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -o-animation: fadeInDown 1s;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translateY(-40%)
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translateY(-40%)
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@-moz-keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translateY(-40%)
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@-o-keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translateY(-40%)
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

.loading-circle {
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
       
    transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s 1.0 ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s 1.35s ease-in-out forwards;
      animation: dash .9s 1.35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s 1.35s ease-in-out forwards;
      animation: dash-check .9s 1.35s ease-in-out forwards;
    }
  }
  

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  