// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// 
@import 'card.scss';
@import 'animations.scss';

$dashboar-width: 300px;
$nav-hieght: 80px;

body{
    background-color: #1B1B1E!important;
    background-attachment: fixed;
}

.board{
    display: flex;
    height: calc(90vh - $nav-hieght);
    overflow: auto;
}

#main-nav{
    min-height: $nav-hieght;
}

#dashboard{
    width: $dashboar-width;
}

.unstyled{
    text-decoration: none;
    color: inherit!important;
}

@media screen and (min-width: 768px) {
    #dashboard{
        margin-top: $nav-hieght;
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
    }
    .board{
        margin-left: $dashboar-width;
    }
}

.side-nav{
    margin-right: -1rem;

    .active-item{
        background-color: $main-color;
        color: $bg-main-color;
        border-radius: 50px 0px 0px 50px;
        font-weight: bold;
    }
}

.test-card{
    min-height: 60vh;
}

.test-choice{
    min-height: 100px;
    padding: 1rem;
    .test-container{
        padding: 1rem;
        border: #6D676E solid 3px;
        border-radius: 12px;
        min-height: inherit;
    }
}

.inflate{
    min-width: inherit;
    min-height: inherit;
}

.card{
    background: rgba( 30, 30, 58, 0.75 )!important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
    backdrop-filter: blur( 6.5px )!important;
    -webkit-backdrop-filter: blur( 6.5px )!important;
    color: #fff;
}

.page-item, .page-link{
    background: rgba( 30, 30, 58, 0.75 )!important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
    backdrop-filter: blur( 6.5px )!important;
    -webkit-backdrop-filter: blur( 6.5px )!important;
}