// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// 
@import 'card.scss';
@import 'animations.scss';

$dashboar-width: 300px;
$nav-hieght: 80px;

body{
    background: linear-gradient(284.94deg, #6D676E 0%, #FBFFFE 97.19%);
    background-attachment: fixed;
}

.board{
    display: flex;
    height: calc(90vh - $nav-hieght);
    overflow: auto;
}

#main-nav{
    min-height: $nav-hieght;
}

#dashboard{
    width: $dashboar-width;
}

.unstyled{
    text-decoration: none;
    color: inherit!important;
}

@media screen and (min-width: 768px) {
    #dashboard{
        margin-top: $nav-hieght;
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
    }
    .board{
        margin-left: $dashboar-width;
    }
}

.side-nav{
    margin-right: -1rem;

    .active-item{
        background-color: $main-color;
        color: $bg-main-color;
        border-radius: 50px 0px 0px 50px;
        font-weight: bold;
    }
}